export(clean.email.corpus)
export(corpora.from.enron.mailboxes)
export(corpora.from.r.mailing.list.archives)
export(corpus.from.eml)
export(corpus.from.mbox)
export(download.enron.mailboxes)
export(download.r.mailing.list.archives)
importFrom(downloader,download)
importFrom(tm,"meta<-")
importFrom(tm,DirSource)
importFrom(tm,VCorpus)
importFrom(tm,as.PlainTextDocument)
importFrom(tm,meta)
importFrom(tm,removeNumbers)
importFrom(tm,removePunctuation)
importFrom(tm,removeWords)
importFrom(tm,stemDocument)
importFrom(tm,stopwords)
importFrom(tm,stripWhitespace)
importFrom(tm,tm_map)
importFrom(tm.plugin.mail,convert_mbox_eml)
importFrom(tm.plugin.mail,readMail)
importFrom(tm.plugin.webmining,removeNonASCII)
