export(clean.email.corpus)
export(corpus.from.eml)
export(corpus.from.mbox)
export(make.email.corpus)
importFrom(tm,DirSource)
importFrom(tm,VCorpus)
importFrom(tm,as.PlainTextDocument)
importFrom(tm,removeNumbers)
importFrom(tm,removePunctuation)
importFrom(tm,removeWords)
importFrom(tm,stemDocument)
importFrom(tm,stopwords)
importFrom(tm,stripWhitespace)
importFrom(tm,tm_map)
importFrom(tm.plugin.mail,convert_mbox_eml)
importFrom(tm.plugin.mail,readMail)
importFrom(tm.plugin.webmining,removeNonASCII)
